@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @apply bg-zinc-900  h-full;
}

html {
  @apply h-full;
}

.scroll-hide::-webkit-scrollbar {
  display: none;
}
